In [2]:
import os
import numpy as np
import pandas as pd
import re

In [12]:
os.chdir('/Users/admin/Documents/Project')
repo = os.getcwd()+'/DataDir'

In [13]:
repo

'/Users/admin/Documents/Project/DataDir'

In [14]:
filenames = next(os.walk(repo))[2]
filenames = [filenames[i] for i in range(len(filenames)) if 'nii.gz' in filenames[i]]

In [6]:
phenotypic = pd.read_csv('Phenotypic_V1_0b_preprocessed1.csv')

In [4]:
phenotypic.head()

,Unnamed: 0.1,Unnamed: 0,SUB_ID,X,subject,SITE_ID,FILE_ID,DX_GROUP,DSM_IV_TR,AGE_AT_SCAN,...,qc_notes_rater_1,qc_anat_rater_2,qc_anat_notes_rater_2,qc_func_rater_2,qc_func_notes_rater_2,qc_anat_rater_3,qc_anat_notes_rater_3,qc_func_rater_3,qc_func_notes_rater_3,SUB_IN_SMP
0,0,1,50002,1,50002,PITT,no_filename,1,1,16.77,...,NaN,OK,NaN,fail,ic-parietal-cerebellum,OK,NaN,fail,ERROR #24,1
1,1,2,50003,2,50003,PITT,Pitt_0050003,1,1,24.45,...,NaN,OK,NaN,OK,NaN,OK,NaN,OK,NaN,1
2,2,3,50004,3,50004,PITT,Pitt_0050004,1,1,19.09,...,NaN,OK,NaN,OK,NaN,OK,NaN,OK,NaN,1
3,3,4,50005,4,50005,PITT,Pitt_0050005,1,1,13.73,...,NaN,OK,NaN,maybe,ic-parietal-cerebellum,OK,NaN,OK,NaN,0
4,4,5,50006,5,50006,PITT,Pitt_0050006,1,1,13.37,...,NaN,OK,NaN,maybe,ic-parietal slight,OK,NaN,OK,NaN,1

In [5]:
p_df = phenotypic[['SITE_ID','X','SUB_ID','FILE_ID','AGE_AT_SCAN','SEX','DSM_IV_TR','DX_GROUP']]

Phenotypic file has extra rows

In [20]:
p_df.shape

(1112, 8)

In [21]:
len(filenames)

1102

In [22]:
present = []
for i in range(len(filenames)):
    here = re.search( '5\d+\d',filenames[i]).group()
    present.append(int(here))

In [23]:
absent = []
for i in range(len(p_df)):
    if p_df.loc[i, 'SUB_ID'] not in present:
        absent.append(i)

In [24]:
len(p_df) -len(absent) == len(filenames)

True

In [25]:
p_df.iloc[absent]

    SITE_ID    X  SUB_ID      FILE_ID  AGE_AT_SCAN  SEX  DSM_IV_TR  DX_GROUP
909  UCLA_1  910   51232  no_filename        15.79    1          1         1
910  UCLA_1  911   51233  no_filename        12.75    1          1         1
919  UCLA_1  920   51242  no_filename        14.14    2          1         1
920  UCLA_1  921   51243  no_filename        11.69    1          1         1
921  UCLA_1  922   51244  no_filename        13.09    1          1         1
922  UCLA_1  923   51245  no_filename        14.98    1          1         1
923  UCLA_1  924   51246  no_filename        13.10    1          1         1
924  UCLA_1  925   51247  no_filename        11.97    1          1         1
947  UCLA_1  948   51270  no_filename        11.08    1          0         2
979  UCLA_2  980   51310  no_filename        11.70    1          0         2

In [26]:
p_df.drop(absent,inplace = True)
p_df.reset_index(drop= True,inplace = True)

In [27]:
file_index = list(range(len(filenames)))
for i in range(len(filenames)):
    ID = re.search( '5\d+\d',filenames[i]).group()
    index = p_df[p_df['SUB_ID'] == int(ID)].index[0]
    file_index[index]= filenames[i]

In [28]:
p_df['FILE_NAME']= file_index

In [31]:
p_df.to_csv('pheno_clean.csv')